.titleProjects {
    font-size: 2rem;
    font-weight: 400;
}

.box {
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    padding: 1rem 1.5rem;
}

.bentoProjects {
    margin: 2rem 0;
    display: grid;
    grid-auto-columns: auto;
    grid-auto-rows: auto;
    gap: 1rem;
    grid-template-areas:
        "box-1 box-1 box-1 box-3 box-3 box-3"
        "box-2 box-2 box-2 box-3 box-3 box-3"
        "box-2 box-2 box-2 box-3 box-3 box-3"
        "box-4 box-4 box-4 box-4 box-5 box-5"
        "box-4 box-4 box-4 box-4 box-5 box-5"
        "box-6 box-6 box-6 box-7 box-7 box-7"
        "box-6 box-6 box-6 box-7 box-7 box-7"
        "box-6 box-6 box-6 box-7 box-7 box-7"
        "box-8 box-8 box-8 box-8 box-8 box-8"
        "box-8 box-8 box-8 box-8 box-8 box-8"
    ;
}

.bookify-box {
    background: linear-gradient(to right, #1D3557, #457B9D);
}

.ventatrack-box {
    background: linear-gradient(to left, #DAD2BC, #A99985);
}

.turnero-box {
    background: linear-gradient(to bottom, #96E072, #3DA35D);
}

.sportymaxx-box {
    background: linear-gradient(to right, #CED4DA, #6C757D);
    display: flex;
    flex-direction: row;
    gap: 2rem;
    padding: 1rem 1.5rem 0 0;
    height: 370px;
}

.titleProject {
    font-size: 2.5rem;
    font-weight: 500;
}

.buttonsProject {
    display: flex;
    gap: 1rem;
    margin: 1rem 0;
}

.description {
    font-size: 1.5rem;
    font-weight: 300;
}

.features-bookify-box {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.featuresBookify {
    display: flex;
    flex-direction: column;
}

.featureBookify {
    margin: 1.5rem 0;
    display: flex;
    align-items: center;
    gap: 1rem;
}

.titleFeatureBookify {
    font-size: 1.5rem;
    font-weight: 500;
}

.bookify-image-box {
    padding: 1rem;
    position: relative;
}

.image-container {
    position: relative;
    width: 100%;
    height: 100%;
}

.bookifyImage {
    border-radius: 10px;
    width: 100%;
    height: 100%;
    object-fit: cover;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
}

.imageVentaTrack {
    width: calc(100% - 4rem);
    margin: 0 2rem;
    height: 90%;
    object-fit: cover;
    object-position: top;
    border-radius: 10px 10px 0 0;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
    position: absolute;
    bottom: 0;
    left: 0;
}

.ventatrack-image-box {
    position: relative;
    overflow: hidden;
    height: 300px;
}

.data-ventatrack-box {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.dataVentaTrack {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.data-turnero-box {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.imageTurnero {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
}

.descriptionTurnero {
    margin-top: 2rem;
}

.divImageSportyMaxx {
    width: 50%;
    position: relative;
    overflow: hidden;
    height: 100%;
    border-radius: 0 10px 0 10px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
}

.divDataSportyMaxx {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.imgSportyMaxx {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
    object-position: top;
}

.descriptionSportyMaxx {
    margin-top: 1rem;
}

.buttonsSportyMaxx {
    margin-bottom: 2rem;
}