.selectRepository {
    position: absolute;
    display: flex;
    width: 100%;
    flex-direction: column;
    gap: .5rem;
    background-color: var(--blanco);
    padding: .5rem;
    border-radius: 8px;
    z-index: 100;
    opacity: 0;
    transform: translateX(-20px);
    transition: opacity 0.3s ease, transform 0.3s ease;
    top: -35px;
    left: 100%;
    margin-left: 0.5rem;
}

.selectRepository.open {
    opacity: 1;
    transform: translateX(0);
}

.selectRepositoryRight {
    position: absolute;
    display: flex;
    width: 100%;
    flex-direction: column;
    gap: .5rem;
    background-color: var(--blanco);
    padding: .5rem;
    border-radius: 8px;
    z-index: 100;
    opacity: 0;
    transform: translateX(20px);
    transition: opacity 0.3s ease, transform 0.3s ease;
    top: -35px;
    right: 100%;
    margin-right: 0.5rem;
}

.selectRepositoryRight.open {
    opacity: 1;
    transform: translateX(0);
}

.optionRepository {
    color: var(--negro);
    cursor: pointer;
    padding: 0.5rem;
    border-radius: 4px;
    transition: background-color 0.2s ease;
}

.optionRepository:hover {
    background-color: var(--rosa);
}

@media (max-width: 1110px) {
    .selectRepository {
        top: unset;
        bottom: 100%;
        left: 0;
        transform: translateY(90px);
        margin-left: 0;
        margin-bottom: 0.5rem;
    }
}