button {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    border: none;
    border-radius: 5px;
    padding: .8rem 1rem;
    cursor: pointer;
}

.primary {
    color: var(--negro);
    background-color: var(--rosa);
}

.secondary {
    color: var(--rosa);
    background-color: transparent;
    border: 1px solid var(--rosa);
}