.navBar {
    width: 100%;
}

.navBarContent {
    display: flex;
    justify-content: space-between;
    padding: 1rem 2rem;
}

.titleNavBar {
    font-size: 1rem;
    font-weight: 600;
    cursor: pointer;
}

.sections {
    display: flex;
    gap: 1rem;
}

.section {
    font-size: .8rem;
    cursor: pointer;
}