.navBar {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    background-color: rgba(0, 0, 0, 0.75);
    backdrop-filter: blur(20px);
}

.navBarContent {
    display: flex;
    justify-content: space-between;
    padding: 1rem 2rem;
}

.titleNavBar {
    font-size: 1rem;
    font-weight: 600;
    cursor: pointer;
}

.sections {
    display: flex;
    gap: 1rem;
}

.section {
    font-size: .8rem;
    cursor: pointer;
    transition: all .2s ease-in-out;
}

.section:hover {
    color: var(--rosa);
}