.footer {
    padding: 2rem 0;
    border-top: 1px solid var(--rosa);
    display: flex;
    justify-content: space-between;
    gap: 2rem;
}

.nameFooter {
    font-size: 1.8rem;
    font-weight: 500;
}

.subtitleFooter {
    color: var(--rosa);
    font-style: italic;
    margin-top: .5rem;
}

.networks {
    display: flex;
    gap: 2rem;
}

.networksCopyright {
    display: flex;
    flex-direction: column;
    align-items: end;
    gap: 1rem;
}

.copyright {
    color: var(--rosa);
}