.bookifyDetail {
    width: 100%;
}

.navigation-menu {
    display: flex;
    flex-direction: row;
    justify-content: start;
    margin-bottom: 2rem;
}

.nav-button {
    padding: 0.75rem 1.5rem;
    background: transparent;
    color: white;
    border-radius: 0;
    cursor: pointer;
    font-weight: 600;
    transition: background 0.3s ease;
}

.nav-button:hover {
    background: #457B9D;
    color: white;
}

.nav-button.active {
    border-bottom: 2px solid #457B9D;
    color: #457B9D;
}

.nav-button.active:hover {
    color: white;
}