.imageProjectDetailContainer {
    margin-bottom: 2rem;
    height: 60vh;
    width: 100%;
}

.divTitleProject {
    padding: 1rem 0;
    margin-bottom: 2rem;
}

.titleProjectDetail {
    font-size: 3rem;
    font-weight: normal;
}

.desciptionAndTechnologies {
    display: flex;
    justify-content: space-between;
}

.divDescriptionProject {
    max-width: 900px;
}

.divTechnologiesAndLinks {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.dataProject {
    margin-bottom: 2rem;
}

.subtitleDataProject {
    font-style: italic;
    color: var(--rosa);
}

.subtitleTechnologies {
    margin-bottom: 2.5rem;
}

.technologiesContainer {
    position: relative;
    text-align: end;
}

.divSubtitleDataProject {
    display: flex;
    align-items: center;
    gap: .5rem;
    justify-content: end;
    cursor: pointer;
}