.stack {
    margin: 5rem 0;
    overflow: hidden;
    position: relative;
}

.titleStack {
    margin-bottom: 7rem;
    font-size: 2rem;
    font-weight: 400;
}

.stackIcons {
    display: flex;
    gap: 2rem;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 100%;
}